TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
NAME=ens192
DEVICE=ens192
ONBOOT=yes
IPADDR={{ maingwip }}
PREFIX={{ routermainsub }}
GATEWAY={{ routermaingw }}
DNS1=127.0.0.1
DNS2={{ routerpublicdns }}
DOMAIN={{ domainname }}
IPV6_PRIVACY=no