# Set DNS name and DNS server's IP address or hostname
option domain-name     "{{ domainname }}";
option domain-name-servers     {{ dnshostname }}.{{ domainname }};

# Declare DHCP Server
authoritative;

# The default DHCP lease time
default-lease-time 600;

# Set the maximum lease time
max-lease-time 7200;

# Turn on Dynamic DNS:
ddns-update-style interim;
ddns-updates on;

# Don't allow clients to update DNS, make the server do it
# based on the hostname passed by the DHCP client:
deny client-updates;
allow unknown-clients;

# Set Network address, subnet mask and gateway

subnet {{ mainnet }} netmask {{ mainmask }} {
    # Range of IP addresses to allocate
    range dynamic-bootp {{ mainstart }} {{ mainend }};
    # Provide broadcast address
    option broadcast-address {{ mainbcast }};
    # Set default gateway
    option routers {{ maingwip }};
    option subnet-mask {{ mainmask }};
    option domain-name "{{ domainname }}";
    option domain-name-servers {{ maingwip }};
}

subnet {{ worknet }} netmask {{ workmask }} {
    # Range of IP addresses to allocate
    range dynamic-bootp {{ workstart }} {{ workend }};
    # Provide broadcast address
    option broadcast-address {{ workbcast }};
    # Set default gateway
    option routers {{ workgwip }};
    option subnet-mask {{ workmask }};
    option domain-name "{{ domainname }}";
    option domain-name-servers {{ workgwip }};
}