$TTL 86400
@   IN  SOA     {{ dnshostname }}.{{ domainname }}. root.{{ domainname }}. (
                                              3           ;Serial
                                              3600        ;Refresh
                                              1800        ;Retry
                                              604800      ;Expire
                                              86400       ;Minimum TTL
)

;Name Server Information
@				IN  NS      {{ dnshostname }}.{{ domainname }}.

;IP address of Name Server
{{ dnshostname }}			IN  A 		{{ maingwip }}
{{ dnshostname }} 			IN 	A 		{{ workgwip }}

;A - Record HostName To Ip Address
rasp001			IN 	A 		172.21.0.1
esxi010 		IN  A       172.21.0.10
esxi011			IN  A 		172.21.0.11
vsan001			IN 	A 		172.21.0.20
hapx001			IN 	A 		172.21.0.30
vcsa001			IN 	A 		172.21.0.101

; A records for Workload network
cast001			IN  A 		172.22.0.255