//
// named.conf
//
// Provided by Red Hat bind package to configure the ISC BIND named(8) DNS
// server as a caching only nameserver (as a localhost DNS resolver only).
//
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//

options {
        listen-on port 53 { 127.0.0.1; {{ maingwip}}; {{ workgwip }}; };
        // listen-on-v6 port 53 { ::1; };
        directory       "/var/named";
        dump-file       "/var/named/data/cache_dump.db";
        statistics-file "/var/named/data/named_stats.txt";
        memstatistics-file "/var/named/data/named_mem_stats.txt";
        secroots-file   "/var/named/data/named.secroots";
        recursing-file  "/var/named/data/named.recursing";
        allow-query     { any; };

        /*
         - If you are building an AUTHORITATIVE DNS server, do NOT enable recursion.
         - If you are building a RECURSIVE (caching) DNS server, you need to enable
           recursion.
         - If your recursive DNS server has a public IP address, you MUST enable access
           control to limit queries to your legitimate users. Failing to do so will
           cause your server to become part of large scale DNS amplification
           attacks. Implementing BCP38 within your network would greatly
           reduce such attack surface
        */
        recursion yes;

        check-names master ignore;
        check-names slave ignore;
        check-names response ignore;

        dnssec-enable yes;
        dnssec-validation yes;

        managed-keys-directory "/var/named/dynamic";

        pid-file "/run/named/named.pid";
        session-keyfile "/run/named/session.key";

        /* https://fedoraproject.org/wiki/Changes/CryptoPolicy */
        include "/etc/crypto-policies/back-ends/bind.config";
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};

zone "." IN {
        type hint;
        file "named.ca";
};

zone "{{ domainname }}" IN {
        type master;
        file "fwdmain.db";
        allow-update { localhost; {{ maingwip }}; {{ workgwip }}; };
};

zone "{{ reversemain }}.in-addr.arpa" IN { 
        type master;
        file "reversemain.db";
        allow-update { localhost; {{ maingwip }}; {{ workgwip }}; };
};

zone "{{ reversework }}.in-addr.arpa" IN { 
        type master;
        file "reversework.db";
        allow-update { localhost; {{ maingwip }}; {{ workgwip }}; };
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";