$TTL 86400
@   IN  SOA     {{ dnshostname }}.{{ domainname }}. root.{{ domainname }}. (
                                       3           ;Serial
                                       3600        ;Refresh
                                       1800        ;Retry
                                       604800      ;Expire
                                       86400       ;Minimum TTL
)

;Name Server Information
@  	       	IN 			NS			{{ dnshostname }}.{{ domainname }}.

;Reverse lookup for Name Server
{{ workgwip4 }}   IN  		PTR     {{ dnshostname }}.{{ domainname }}.

;PTR Record IP address to HostName
1			IN  		PTR     rasp001.ssh.guru.lab.
10      	IN  		PTR     esxi001.ssh.guru.lab.
30			IN 			PTR		hapx001.ssh.guru.lab.